{# Success Message #}
<div class="container justify-content-md">
  {% for message in app.flashes('success') %}
    <div class="row d-flex flex-row justify-content mb-2">
        <div class="alert alert-success">{{ message }}</div>
    </div>
{% endfor %}

{# Main #}
 <div class="row justify-content-center">
    {% for rental in rentals %}
        <div class="card col-3 m-1">
        <img class="card-img-top rounded mt-3" src="images/{{ rental.picture }}" alt="Card image cap"
        style="width: auto; height: 165px;">
            <div class="card-body">
                <h4 class="card-title">
                    {{ rental.title }}
                </h4>
                <h6 class="card-text">
                {% if rental.typeId.label is not same as 'space'%}
                     <strong>Capacity: </strong>{{ rental.typeId.capacity }} <i class="fa-solid fa-user-large"></i><i class="fa-solid fa-user-large"></i>
                {% else %}
                     <strong>Size:</strong> {{ rental.typeId.capacity }} m<sup>2</sup>
                {% endif %}
                </h6>
                <p class="card-text">
                    <strong>Price:</strong> {{ rental.typeId.dailyPrice }}€ per day
                </p>
                <p class="card-text">
                    <strong>Description:</strong> {{ rental.description }}
                </p>

                <p class="card-text">
                   <strong> Owner:</strong>  {{ rental.ownerId.fullName }}
                </p>

            </div>
            <span class="float-end d-flex flex-row justify-content-between mb-2"> 
                {# edit button for each rental #}
                <a href="{{ path("app_addRental", {id: rental.id}) }}" 
                    class="btn btn-outline-warning btn-sm"
                    data-bs-toggle = "tooltip"
                    data-bs-placement = "top"
                    title="{{ rental.title }}">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>

                 {# delete button for each rental #}
                <form action="{{ path("app_deleteRental", {id: rental.id}) }}" method="post" onsubmit="return confirm('Are you sure you want to delete this rental?')" class="ms-2">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete'~rental.id) }}">
                    <button type="submit" class="btn btn-outline-danger btn-sm"><i class="fa-solid fa-trash"></i></button>
                </form>

            </span>
        </div>
    {% endfor %}
</div>
</div>
