{%extends "base.html.twig" %} 
{% block title %}Our Rentals{% endblock %}

{% block body %}
    <div>        
        {{ include("template_part/menu.html.twig", {pp: 'menu'} )}}
    </div>
    <div class="container">        
        <span class="float-end">
            <a href="{{ path('app_rental') }}" class="btn btn-success btn-sm">Go back</a>
        </span>

        <h2 class="mt-3">
        {% if rentals[0].typeId.label == 'Caravan' %}
            Our Caravans
        {% elseif rentals[0].typeId.label == 'Mobile-Home' %}
            Our Mobile-Homes
        {% else %}
            Our Spaces
        {% endif %}
        </h2>
    {# Main #}
 <div class="row justify-content-center">
         <div class="group-form mb-2">  
            <form action="{{ path('app_filterType') }}" method="post">
                    <select name="type" id="type-select">
                        <option value="">Choose a rental type</option>
                        {% for label in labels %}
                            {% if label.label is not same as label.label %}
                                <option value="{{ label.label }}">{{ label.label }}</option>
                            {% else %}
                                <option value="{{ label.label }}">{{ label.label }}</option> 
                            {% endif %}
                        {% endfor %}
                    </select>
                <input type="submit" value="search" class="btn btn-sm btn-success">
            </form>
        </div>
    {% for rental in rentals %}
        <div class="card col-3 m-1">
        <img class="card-img-top rounded mt-3" src="images/{{ rental.picture }}" alt="Card image cap"
        style="width: auto; height: 165px;">
            <div class="card-body">
                <h4 class="card-title">
                    {{ rental.title }}
                </h4>
                <h6 class="card-text">
                {% if rental.typeId.label is not same as 'space'%}
                     <strong>Capacity: </strong>{{ rental.typeId.capacity }} <i class="fa-solid fa-user-large"></i><i class="fa-solid fa-user-large"></i>
                {% else %}
                     <strong>Size:</strong> {{ rental.typeId.capacity }} m<sup>2</sup>
                {% endif %}
                </h6>
                <p class="card-text">
                    <strong>Price:</strong> {{ rental.typeId.dailyPrice }}€ per day
                </p>
                <p class="card-text">
                    <strong>Description:</strong> {{ rental.description }}
                </p>

                <p class="card-text">
                   <strong> Owner:</strong>  {{ rental.ownerId.fullName }}
                </p>

            </div>
        </div>
    {% endfor %}
</div>
</div>
    </div>    

    {{ include("template_part/footer.html.twig", {pp: 'footer'} )}}
{% endblock %}
