<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #00341c">
  <div class="container-fluid">
    <strong>
      <a class="navbar-brand text-light" href="{{ path('app_home') }}">FAbuLous CamPinG</a>
    </strong>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link text-light" href="{{ path('app_home') }}">Home</a>
        <a class="nav-link text-light" href="{{ path('app_services') }}">Services</a>
        <a class="nav-link text-light" href="{{ path('app_rental') }}">Rentals</a>
        {# {% if user.getRole is same as 'ROLE_ADMIN' %} #}
          <a class="nav-link text-light" href="{{ path('app_invoice') }}">Invoices</a>
          <a class="nav-link text-light" href="{{ path('app_owner') }}">Partners</a> 
        {# {% endif %} #}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          <a class="nav-link text-light text-right" href="{{ path('security_logout') }}">Log Out</a>
        {% else %}
          <a class="nav-link text-light text-right" href="{{ path('security_login') }}">Sign In</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
